<a href="/job-detail" class="job-item flex text-without-decoration">
  <div class="job-item-main flex align-items-center">
    <img class="job-item-image" src="images/A.svg" alt="" />
    <div class="job-item-info">
      <div class="flex align-items-center">
        <h1 class="job-item-position">Software Engineer </h1>
        <span class="job-item-new tag-new uppercase">new</span>
      </div>
      <div class="flex align-items-center">
        <span class="job-item-enterprise">Able - Lima</span>
        <img class="job-item-flag" src="images/peru.svg" alt="Peru" />
      </div>
    </div>
  </div>
  <div class="job-item-secondary flex align-items-center">
    <img src="images/dollar.png" alt="dollar" />
    <span class="job-item-technology">ReactJS</span>
    <span class="job-item-date">Today</span>
  </div>
</a>