<section>
    <div class="contact">
        <div class=first-contact>
            <h2>Contacts</h2>
            <h1>Get in Touch</h1>
            <p>If you are not sure yet, shoot as a message!</p>
        </div>
        <div class="second-contact">
            <p>hello@getthatjob.com</p>
            <p>Jose Galvez 692, 7th floor. The Board</p>
        </div>
    </div>
</section>