<section class="main container">
  <h1 class="faq-title">FAQs</h1>
  <p class="faq-question">Do you sell my data?</p>
  <p class="faq-answer">
    We cannot give you an answer about that. Nonetheless, what we can tell you
    is that, if we were selling your data, we wouldn’t tell you
  </p>
  <p class="faq-answer">
    We cannot give you an answer about that. Nonetheless, what we can tell you
    is that, if we were selling your data, we wouldn’t tell you
  </p>
  <p class="faq-answer">
    We cannot give you an answer about that. Nonetheless, what we can tell you
    is that, if we were selling your data, we wouldn’t tell you
  </p>
  <p class="faq-answer">
    We cannot give you an answer about that. Nonetheless, what we can tell you
    is that, if we were selling your data, we wouldn’t tell you
  </p>
  <p class="faq-answer">
    We cannot give you an answer about that. Nonetheless, what we can tell you
    is that, if we were selling your data, we wouldn’t tell you
  </p>
  <p class="faq-answer">
    We cannot give you an answer about that. Nonetheless, what we can tell you
    is that, if we were selling your data, we wouldn’t tell you
  </p>
  <p class="faq-answer">
    We cannot give you an answer about that. Nonetheless, what we can tell you
    is that, if we were selling your data, we wouldn’t tell you
  </p>
  <p class="faq-answer">
    We cannot give you an answer about that. Nonetheless, what we can tell you
    is that, if we were selling your data, we wouldn’t tell you
  </p>
  <p class="faq-answer">
    We cannot give you an answer about that. Nonetheless, what we can tell you
    is that, if we were selling your data, we wouldn’t tell you
  </p>
  <p class="faq-answer">
    We cannot give you an answer about that. Nonetheless, what we can tell you
    is that, if we were selling your data, we wouldn’t tell you
  </p>
</section>
