<main class="login-wrapper main">
  <div class="login flex direction-column align-items-center">
    <h1 class="login-title">Forgot Password</h1>
    <form class="login-form" action="./password-reset" method ="get">
      <label for="email-address" class="login-form-label">Email</label>
      <input
        class="login-form-textbox"
        type="email"
        name="email-address"
        id="email-address"
        placeholder="youremail@domain.com"
        required
      />
      <input class="login-form-btn" type="submit" value="Send recovery email" />
    </form>
  </div>
</main>