<main class="main container user-form-container flex direction-column align-items-center">
    <h1 class="user-form-title">Forgot Password</h1>
    <form class="user-form" action="./password-reset" method ="get">
      <label for="email-address" class="user-form-label">Email</label>
      <input
        class="user-form-textbox"
        type="email"
        name="email-address"
        id="email-address"
        placeholder="youremail@domain.com"
        required
      />
      <input class="btn btn-primary user-form-btn" type="submit" value="Send recovery email" />
    </form>
</main>