<main class="main">
    <section class="hero flex container">
        <div class="hero-detail justify-center">
            <h1 class="hero-detail-title">The place where you get that job</h1>
            <p class="hero-detail-description">With our Machine learning algorithm you will get that job
                in no time, We promise you! Just give us the money and we
                will take care of it.</p>
            <a class="hero-detail-btn-create btn btn-primary uppercase">Create your account now</a>
        </div>
        <div class="hero-placeholder flex">
            <img class="hero-placeholder-image" src="images/hero.png" alt="" srcset="">
        </div>
    </section>

    <%= erb :joblistdescription %>

    <section class="testimonials container flex justify-between align-items-center text-align-center">
        <i class="testimonial-left-arrow fas fa-long-arrow-alt-left"></i>
        <div class="testimonial flex direction-column justify-center align-items-center">
            <img src="images/testimonial-avatar.png" alt="" class="testimonial-avatar">
            <h1 class="testimonial-phrase">“Amazing experience, I love it a lot. Thanks to the team I got that Job, great!”</h1>
            <span class="testimonial-author">Lassy Chester</span>
            <span class="testimonial-profession">Art Director</span>
        </div>
        <i class="testimonial-right-arrow fas fa-long-arrow-alt-right"></i>
        <div class="testimonial-dots">
            <i class="testimonial-dot fas fa-circle"></i>
            <i class="testimonial-dot fas fa-circle"></i>
            <i class="testimonial-dot testimonial-dot-active fas fa-circle"></i>
            <i class="testimonial-dot fas fa-circle"></i>
        </div>
    </section>

    <%= erb :contact %>

</main>