<main class="main">
    <section class="hero flex container">
        <div class="hero-detail justify-center">
            <h1 class="hero-detail-title">The place where you get that job</h1>
            <p class="hero-detail-description">With our Machine learning algorithm you will get that job
                in no time, We promise you! Just give us the money and we
                will take care of it.</p>
            <a class="hero-detail-btn-create btn btn-primary uppercase">Create your account now</a>
        </div>
        <div class="hero-placeholder flex">
            <img class="hero-placeholder-image" src="images/hero.png" alt="" srcset="">
        </div>
    </section>
</main>