<main class="main container">
    <header class="job-listing-header w-100-percent">
        <h1 cass="job-listing-header-title">Jobs For you</h1>
    </header>
    <section class="job-listing-filter flex">
        <div class="job-listing-search flex">
            <input type="text" placeholder="Find that job!" class="job-listing-input-text">
            <div class="job-listing-dropdown">
                <button class="job-listing-dropdown-toggle">
                    Country
                    <i class="fas fa-chevron-down job-listing-dropdown-arrow-down" onclick=""></i>
                    <i class="fas fa-chevron-up job-listing-dropdown-arrow-up" onclick=""></i>
                </button>
                <div class="job-listing-dropdown-menu-container">
                    <ul class="job-listing-dropdown-menu">
                        <li class="job-listing-dropdown-item">Peru</li>
                        <li class="job-listing-dropdown-item">Colombia</li>
                        <li class="job-listing-dropdown-item">Arequipa</li>
                    </ul>
                </div>
            </div>
            <div class="job-listing-dropdown">
                <button class="job-listing-dropdown-toggle">
                    Type
                    <i class="fas fa-chevron-down job-listing-dropdown-arrow-down" onclick=""></i>
                    <i class="fas fa-chevron-up job-listing-dropdown-arrow-up" onclick=""></i>
                </button>
                <div class="job-listing-dropdown-menu-container">
                    <ul class="job-listing-dropdown-menu">
                        <li class="job-listing-dropdown-item">Full-Time</li>
                        <li class="job-listing-dropdown-item">Part-Time</li>
                        <li class="job-listing-dropdown-item">Contract</li>
                        <li class="job-listing-dropdown-item">Free</li>
                    </ul>
                </div>
            </div>
            <div class="job-listing-dropdown">
                <button class="job-listing-dropdown-toggle">
                    Salary Range
                    <i class="fas fa-chevron-down job-listing-dropdown-arrow-down" onclick=""></i>
                    <i class="fas fa-chevron-up job-listing-dropdown-arrow-up" onclick=""></i>
                </button>
                <div class="job-listing-dropdown-menu-container">
                    <ul class="job-listing-dropdown-menu">
                        <li class="job-listing-dropdown-item">$1000 - $2000</li>
                        <li class="job-listing-dropdown-item">$2001 - $100000</li>
                    </ul>
                </div>
            </div>
            <div class="job-listing-dropdown">
                <button class="job-listing-dropdown-toggle">
                    Experience
                    <i class="fas fa-chevron-down job-listing-dropdown-arrow-down" onclick=""></i>
                    <i class="fas fa-chevron-up job-listing-dropdown-arrow-up" onclick=""></i>
                </button>
                <div class="job-listing-dropdown-menu-container">
                    <ul class="job-listing-dropdown-menu">
                        <li class="job-listing-dropdown-item">No Experience</li>
                        <li class="job-listing-dropdown-item">Semi Senior</li>
                        <li class="job-listing-dropdown-item">Senior</li>
                        <li class="job-listing-dropdown-item">Codeable Graduate</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="job-listing-sort flex">
            <div class="job-listing-dropdown">
                <button class="job-listing-dropdown-toggle">
                    Recommended
                    <i class="fas fa-chevron-down job-listing-dropdown-arrow-down" onclick=""></i>
                    <i class="fas fa-chevron-up job-listing-dropdown-arrow-up" onclick=""></i>
                </button>
                <div class="job-listing-dropdown-menu-container">
                    <ul class="job-listing-dropdown-menu">
                        <li class="job-listing-dropdown-item">Newest</li>
                        <li class="job-listing-dropdown-item">Highest Salary</li>
                        <li class="job-listing-dropdown-item">Lowest Salary</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>