<div class="job-item flex align-items-center">
  <img class="job-item-image" src="images/A.svg" alt="" />
  <div class="job-item-info">
    <span class="job-item-position">Software Engineer</span>
    <div class="flex align-items-center">
      <span class="job-item-able">Able - Lima</span>
      <img src="images/peru.svg" alt="Peru" />
    </div>
  </div>
  <img src="images/dollar.png" alt="dollar" />
  <span class="job-item-reactjs">ReactJS</span>
  <span class="job-item-day">Today</span>
</div>
