<header class="navbar container flex justify-between align-items-center">
  <div class="navbar-brand">
    <img src="images/logo.png"/>
    <span>GetThatJob</span>
  </div>
  <nav class="navbar-collapse">
    <ul class="navbar-items">
      <li class="navbar-item">
        <a href="#" class="navbar-link">Help</a>
      </li>
      <li class="navbar-item">
        <a href="#" class="navbar-link">Companies</a>
      </li>
      <li class="navbar-item">
        <a href="#" class="navbar-link">Jobs</a>
      </li>
      <li class="navbar-item">
        <a href="#" class="btn-small btn-outline-primary uppercase">Sign in</a>
      </li>
      <li class="navbar-item">
        <a href="#" class="btn-small btn-outline-secondary uppercase">Create an account</a>
      </li>
    </ul>
  </nav>
</header>