<main class="login-wrapper main">
  <div class="flex direction-column align-items-center">
    <h1 class="login-title">Recovery email sent!</h1>
    <p>You should receive instructutions to reset your password in your email</p>
  </div>
</main>