<main class="main container user-form-container flex direction-column align-items-center">
    <h1 class="user-form-title">Sign Up</h1>
    <form action="/sign-up-form" class="user-form">
      <label for="email-address" class="user-form-label">Email</label>
      <input
        class="user-form-textbox"
        type="email"
        name="email-address"
        id="email-address"
        placeholder="youremail@domain.com"
        required
      />
      <label for="password" class="user-form-label">Password</label>
      <input
        class="user-form-textbox"
        type="password"
        name="password"
        id="password"
        pattern=".{8,}"
        placeholder="********"
        required
        title="Must contain at least 8 or more characters"
      />
      <label for="password" class="user-form-label">Confirm Password</label>
      <input
        class="user-form-textbox"
        type="password"
        name="confirm-password"
        id="confirm-password"
        pattern=".{8,}"
        placeholder="********"
        required
        title="Must contain at least 8 or more characters"
      />
      <input class="btn btn-primary user-form-btn" type="submit" value="Submit" />
    </form>
    <a class="user-link" href="./login">Sign in</a>
</main>
