<div class="signup-form container main">
    <h1>Complete your signup</h1>
    <form action="">
        <label for="">
            Name
            <br>
            <input class="input" type="text" name="name" id="name" placeholder="Large Input" required>
            <p>Use your real first and last name</p>
        </label>
        <label for="">
            Professional Description
            <br>
            <input  class="input" type="text" name="professioanl" id="professioanl" placeholder="e.g Software Engineer, Mememaster, Pokemaster" required>
            <p>Short an specific text about what you do</p>
        </label>
        <label for="">
            Work Experience
            <br>
            <textarea name="experience" id="" cols="30" rows="10" minlength="200" placeholder="Worked 6 years in a bitcoin farm until I decided to change my life...." required></textarea>
            <p>Tells us about your work experience, what did you do before joining this top community?</p>
        </label>
        <label for="">
            Tell us a joke
            <br>
            <textarea name="joke" id="" cols="30" rows="10" minlength="20" placeholder="Q: Why do chemists enjoy working with ammonia? A: Because it's pretty basic stuff." required></textarea>
            <p>Tells us about your work experience, what did you do before joining this top community?</p>
        </label>
        <label for="">
            Work Type preference
            <div class="signup-options">
                <div class="option">
                    <div class="radio-option">
                        <input type="radio" name="radio" id="radio1" checked><label for="radio1"></label>
                    </div>
                    <label class="signup-options-text">Full-Time</label>
                </div>
                <div class="option">
                    <div class="radio-option">
                        <input type="radio" name="radio" id="radio2"><label for="radio2"></label>
                    </div>
                    <label class="signup-options-text">Part-Time</label>
                </div>
                <div class="option">
                    <div class="radio-option">
                        <input type="radio" name="radio" id="radio3"><label for="radio3"></label>
                    </div>
                    <label class="signup-options-text">Contract</label>
                </div>
                <div class="option">
                    <div class="radio-option">
                        <input type="radio" name="radio" id="radio4"><label for="radio4"></label>
                    </div>
                    <label class="signup-options-text">For Free</label>
                </div>
            </div>
        </label>
        <div class="checkbox-option">
            <div class= "check-option">
                <input type="checkbox" name="check" id="check1"><label for="check1"></label>
            </div>
            <label class="check-option-text">I wish to receive regular dad jokes in my email  (Optional)</label>
        </div>
        <div class="checkbox-option1">
            <div class= "check-option1">
                <input type="checkbox" name="check" id="check2" required><label for="check2"></label>
            </div>
            <label class="check-option-text">I wish that you sell my data and give me nothing in exchange</label>
        </div>
        <button class="create">Create Account</button>
    </form>
</div>