.job-list-description {
  background-color: var(--bg-blue-color);
  color: var(--txt-white-color);
  height: 394px;
}
.job-list-description-info {
  width: 507px;
}

.job-list-description-small {
  width: 447px;
}

.job-list-description-info h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
}

.job-list-description-info p {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.job-list-description-three {
  height: 286px;
  width: 100%;
  justify-content: space-between;
}

.job-item {
  background-color: var(--bg-light-color);
  width: auto;
  height: 82px;

  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  justify-content: space-between;
}

.job-item-image {
  padding-left: 20px;
}

.job-item-info {
  width: 210px;
}

.job-item-position {
  color: var(--txt-gray-dark-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.job-item-able {
  font-weight: bold;
  color: var(--txt-black-color);
  padding-right: 9px;
}

.job-item-reactjs {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  background-color: #7972f6;
  padding: 2px 5px;
}

.job-item-day {
  color: var(--txt-gray-light-color);
  padding-right: 20px;
}
