.job-list-description {
  background-color: var(--bg-blue-color);
  color: var(--txt-white-color);
  height: 394px;
}
.job-list-description-info {
  width: 507px;
}

.job-list-description-small {
  width: 447px;
}

.job-list-description-info h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
}

.job-list-description-info p {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.job-list-description-three {
  height: 286px;
  width: 100%;
  justify-content: space-between;
}

.job-list-description .job-item-new {
  display: none;
}