.login-wrapper {
  background-color: var(--bg-gray-color);
  height: 60vh;
}

.login {
  margin: 132px auto;
  width: 256px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.login-form-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.login-form-textbox {
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--bg-light-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #bfbfbf;

  width: auto;
  height: 40px;
  padding: 8px 12px;
  margin-bottom: 8px;
}

.login-form-btn {
  background: #3c2dff;
  border-radius: 4px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--txt-white-color);
  height: 40px;
  margin: 8px 0;
}

.login-question {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: var(--btn-primary-color);
}
