*,
*::before,
*::after {
    box-sizing: border-box;
}

/* variables */
:root {
    --bg-light-color: #FFFFFF;
    --bg-gray-color: #E5E5E5;
    --bg-blue-color: #3C2DFF;
    --btn-undefined-color: #E5E5E5;
    --btn-primary-color: #3C2DFF;
    --btn-secondary-color: #000000;
    --txt-black-color: #000000;
    --txt-gray-dark-color: #4A5568;
    --txt-gray-medium-color: #595959;
    --txt-gray-light-color: #718096;
    --txt-white-color: #FFFFFF;
    --txt-purple-color: #AD00FF;
    --tag-blue-color: #3C2DFF;
    --tag-purple-color: rgba(60, 45, 255, 0.69);
    --tag-red-color: #FF0D0D;
    --tag-green-color: #45C8A1;
}

body {
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
}

.main {
    width: 100%;
    margin-top: 100px;
}

.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.direction-row {
    flex-direction: row;
}
.direction-column {
    flex-direction: column;
}

.w-50-percent {
    width: 50%;
}
.w-100-percent {
    width: 100%;
}
.m-0 {
    margin: 0px;
}
.p-0 {
    padding: 0px;
}

.container {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.f-overpass {
    font-family: 'Overpass', sans-serif;
}

.text-align-center {
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}