.user-form-container {
  padding-top: 100px;
}
.user-form {
  width: 256px;
}

.user-form-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.user-form-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.user-form-textbox {
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--bg-light-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #bfbfbf;

  width: auto;
  height: 40px;
  padding: 8px 12px;
  margin-bottom: 8px;
}

.user-form-btn {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.user-question {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: var(--btn-primary-color);
}

.user-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: var(--btn-primary-color);
  text-decoration: none;
}


.user-form input, .user-form label {
  width: 100%;
}