<footer>
    <div class="footer container flex">
        <div class="footer-job">
            <h3>Jobs</h3>
            <ul>
                <li><a href="/jobs">Software Engineer</a></li>
                <li><a href="/jobs">Frontend Engineer</a></li>
                <li><a href="/jobs">Codeable Graduate</a></li>
                <li><a href="/jobs">Backend Engineer</a></li>
                <li><a href="/jobs">Meme Master</a></li>
                <li><a href="/jobs">University Dropouts</a></li>
            </ul>
        </div>
        <div class="footer-company">
            <h3>Company</h3>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Carreers</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="footer-support">
            <h3>Support</h3>
            <ul>
                <li><a href="/faq">Docummentation</a></li>
                <li><a href="/faq">Security</a></li>
                <li><a href="/faq">Mobility Guide</a></li>
                <li><a href="/faq">FAQs</a></li>
            </ul>
        </div>
        <div class="footer-legal">
            <h3>Legal</h3>
            <ul>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookie Information</a></li>
                <li><a href="#">GDPR Commitment</a></li>
            </ul>
        </div>
    </div>
    <div class="line"></div>
    <p>&copy;2020 Get That Job</p>
</footer>