<header class="navbar container flex justify-between align-items-center">
  <a href="/" class="navbar-brand text-without-decoration">
    <img class="navbar-brand-logo" src="images/logo.png" />
    <span>GetThatJob</span>
  </a>
  <nav class="navbar-collapse">
    <ul class="navbar-items">
      <li class="navbar-item">
        <a href="/faq" class="navbar-link">Help</a>
      </li>
      <li class="navbar-item">
        <a href="/companies" class="navbar-link">Companies</a>
      </li>
      <li class="navbar-item">
        <a href="/jobs" class="navbar-link">Jobs</a>
      </li>
      <li class="navbar-item">
        <a href="/login" class="btn-small btn-outline-primary uppercase">Sign in</a>
      </li>
      <li class="navbar-item">
        <a href="/signup" class="btn-small btn-outline-secondary uppercase">Create an account</a>
      </li>
    </ul>
  </nav>
  <div class="navbar-menu-icon">
    <i class="fas fa-bars" onclick=""></i>
  </div>
</header>