
<section class="container contact-section flex">
    <div class="contact f-overpass">
        <div class=first-contact>
            <h2 class="uppercase">Contacts</h2>
            <h1>Get in Touch</h1>
            <p>If you are not sure yet, shoot as a message!</p>
        </div>
        <div class="second-contact">
            <p>hello@getthatjob.com</p>
            <p>Jose Galvez 692, 7th floor. The Board</p>
        </div>
    </div>
    <div class="form">
        <form action="">
            <input type="email" name="email" id="" placeholder="Your email">
            <br>
            <input type="email" name="text" id="" placeholder="Name">
            <br>
            <textarea name="message" id="" cols="30" rows="10" placeholder="Messages"></textarea>
            <br>
            <button class="btn btn-big btn-secondary"><i class="fas fa-envelope"></i> Submit Message</button>
        </form>
    </div>
</section>